<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 offset-lg-2">
      <ul class="list-inline">
        <li class="list-inline-item" *ngFor="let album of albums$ | async">
          <div class="card" style="width: 14rem;">
              <img class="card-img-top" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/disc-vinyl-icon.png" alt="Card image cap">
              <div class="card-body justify-content-center">
                <h6 class="card-title"><b>{{album.album}}</b></h6>
                <p class="card-text">{{album.artist}}</p>
                <p class="card-text">{{album.year}}</p>
                <a [routerLink]="['/albums', album.key]" class="mx-auto btn btn-success">Check Details</a>
              </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>