#button {
  margin-bottom: 2vh;
}

.card {
  .card-body {
    border-radius: 4px;
    background-color: rgb(36, 34, 34);
  }
}

dt {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

textarea {
  resize: none;
}